/* google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* layout */
:root {
  --primary: #f19100;
  --error: #e7195a;
}
body {
  background: #ffffff;
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #363636;

}
header {
  background: #ffffff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 8px 20px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.logo {
  width: 75px;
  height: auto;
  justify-self: start;
}

.nav-links{
  font-weight: 500;
  display: flex;
  justify-content: center;
  font-size: xx-small;

 }

.nav-links h1 {
  margin: 0 10px;
}

.events {
  display: flex;
  flex-direction: row;
}
.event-card {
  flex: 1 1 auto;
  margin-right: 20px;
  border: 1px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* Add these styles to your existing stylesheet or use a styling solution of your choice */

.logout-button {
  background-color: #f44336; /* Red background color */
  color: white; /* White text color */
  padding: 10px 15px; /* Padding inside the button */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor on hover */
}

.logout-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
}


