/* google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* layout */
:root {
  --primary: #f19100;
  --error: #e7195a;
}

body {
  background: #ffffff;
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #363636;

}

.body-home {
  background-image: url("../public/rava-black.png");
  background-position: center;
  background-size: cover;
  width: 100%; /* Adjust as needed */
  height: 1000px;
}

.body-eventPage {
  background-image: url("../public/rava-black.png");
  background-position: center;
  background-size: cover;
  width: 100%; /* Adjust as needed */
  height: 1000px;

}


.Navbar {
  background: #ffffff;
  max-width: 100vw;
}
.Navbar .container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 8px 20px;
  justify-content: space-between;
  display: flex;
  grid-template-columns: auto 1fr;
  align-items: center;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.logo {
  width: 75px;
  height: auto;
  justify-self: start;
}

.navbarMid{
  font-weight: 500;
  display: flex;
  justify-content: center;
  font-size: xx-small;

 }

.navbarMid h1 {
  margin: 0 10px;
}

.navbarRight{
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  font-size: xx-small;

 }

.navbarRight h1 {
  margin: 0 10px;
}

.Homepage {
  color: #f6fcf9;
  max-width: 12000px;
  align-items: right;
  margin-left: 50px;
  font-family: "Mulish";
  font-weight: 20;
}

.Homepage .Home-tagline1 {
  margin: 40px auto;
  margin-top: 390px;
  margin-bottom: 10px;
  font-size: 30px;
  padding: 5px;
}

.Homepage .Home-tagline2 {
  margin-bottom: 0px;
  font-size: 30px;
  margin: 0px auto;     
  padding: 0px;                       
}

.event-page {
  display: flex;
  flex-direction: row;
}

.EventCard .event-card-top {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  padding-top: '0px';
}

.EventCard .event-card-top .event-card-left-top {
  flex: row;
  margin-left: 50px;
  max-width: 700px;
}

.EventCard .event-card-top .event-card-right-top {
  flex: 1 1 0;
  flex-basis: auto; /* Reset the flex-basis to its default value (auto) */
  max-width: 300px; 
  margin-left: 300px;
  margin-top: 50px;


  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px;
  border-radius: 4px; /* Adjust border-radius to make corners smaller */
  padding: 10px; /* Adjust padding to reduce internal spacing */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.EventCard .eventCardImage {
  margin-left: 0;
  margin-right: 0;
  width: 1400px;
  height: auto;
}

.EventCard .event-card-top .event-card-right-top .label {
  color: orange;
  font-weight: bold;
}

.EventCard .event-card-top .event-card-left-top .clubIcon {
  margin-right: 5px;
}

.EventCard .event-card-top .event-card-left-top .eventInfo {

  color: black;
  font-weight: bold;
  font-size: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr)); /* Maximum of 2 columns */
  column-gap: 100px;
  row-gap: 1px;
  text-align: right;
  margin-left: 0px;
}

.EventCard .About .AboutLabel {
  color: orange;
  margin-left: 50px;
}

.EventCard .About .AboutInfo{
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  margin-left: 50px;
  margin-right: 800px;
  margin-bottom: 100px;
}

.EventCard .FAQ{
  margin-left: 50px;
}

.EventCard .FAQ .FAQLabel{
  color: orange;
}

.EventCard .FAQ .queries{
  color: black;
  font-size: 20px;

  display: grid;
  grid-template-columns: 1fr; /* 1 column */
  grid-template-rows: 10px 10px 10px;  ; /* Maximum of 2 columns */
  
  column-gap: 8px;
  row-gap: 3px;
  text-align: center-left;
  margin-left: 0px;
  margin-right: 800px;

  padding: 10px; /* Adjust padding to reduce internal spacing */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}